<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <title>Accusé de reception</title>
</head>

<body>
    <h3> Votre demande d'adhésion a bien était pris en compte</h3>

    <h3>Merci de l'attention porté à notre égard, nous reviendrons vers vous dans les plus bref délais.</h3>

</body>
</html>
