{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
		{# On vérifie que la prestation possède une image#}
    	{% if object.photoName|length > 0 %}

    		<img src="{{ vich_uploader_asset(object, 'photoFile') }}" style="max-width: 80px; max-height: 83px;">
		{% endif%}
    </div>
{% endblock %}